<%- include ("../../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>This is the page for adding a new mission</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/users/<%=foundUser.username%>/dojo/missions" method="POST"> 
                <div class="form-group">
                  <label for="missionName" class="clock">What is the name of this mission?</label>
                  <input class="form-control" id="missionName" type="text" name="name">
                  <label for="missionDescription">Which is the mission that came to your mind?</label>
                  <textarea class="form-control" id="missionDescription" name="description" rows="6"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-success" role="button" href="/users/<%=foundUser.username%>/dojo/missions">Go back</a>
                </div>
            </form>

        </div>
        <div class="col"></div>
    </div>
</div>

<%- include ("../../../partials/users/userFooter") %>