<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Human Music BETA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Share+Tech+Mono'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

  <nav class="navbar navbar-expand bg-light justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/past" role="button" aria-haspopup="true" aria-expanded="false">
            PAST
          </a>
        </li>
  
        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">
            PRESENT
          </a>
        </li>

        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/future" role="button" aria-haspopup="true" aria-expanded="false">
            FUTURE
          </a>
        </li>
      </ul> 
  </nav>
  
<div class="container">
