<%- include ("../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>This is the ideas page of <%=foundUser.username%></h1>
    <p>This is a playground for ideas. They not necessarily need to be something that will be executed, but it is important to have them to build
        a thought process that can become something real.
    </p>
</div>

<div class="text-center dojoBackButton">
    <a class="btn btn-success" role="button" href="/users/<%=foundUser.username%>/dojo">Back to the Dojo</a>
</div>

<%- include ("../../partials/users/userFooter") %>