<%- include("./partials/header") %>
  
<div class="container text-center title" style="margin-top: 8px">
  <p class="aboutTitle"><strong>About the Project</strong></p>
</div>
<div class="container text-center content">
  <p id="p1">Human Music is a project that starts with the dream of a better future. I experience joy through the listening of music that I have never heard before, and I experience joy
living experiences that remind me about the random nature of our existence as humans. Since the internet is a environment governed by algorythms that seek the maximization of
profits of the owners of the different platforms, I decided to create a platform that generates music recommendations through which I think is one of the ultimately random algorythms in the world: Human Nature.
  </p>
  <br>
  <p id="p2">This place is for sharing from the heart. Each one of us has the opportunity for sharing something that you think will be valuable for whoever listens. Something
that becomes a space of light within the darkness. Something that can help anyone that listens overcome anger, sadness or pain. Something that can help anyone that listens to
foster happiness, gratitude or confort. Something that can help anyone that listens to go deeply inside of (him/her)self, and through that process fight (his/her) demons and 
become a better actor for our society in this crazy experience that we are all sharing called life. Something that can help whoever listens feel that (he/she) is not alone, for all what is needed is contained within.
  </p>
  <br>
  <p id="p3">There is no limitations, there is no boundaries, there is nothing that is good, there is nothing that is bad. What will make this place special
    is that your recommendation comes from your heart. I believe music is a string that unites us all, and through the understanding of this basic fact we can reach
    to a conception that on the source we are all part of the same family. We are all human. We are all in this together, no matter from where we come from, no matter our color of skin,
    money in the bank, no matter if you are sad, no matter if you are angry. We are all in this together, and if we recongnize this basic fact we can move forward for building 
    a better world.
  </p> 
  <br>
  <p id="p4">
    Thank you for reading. Thank you for sharing. Thank you for being here. Thank you for being alive.
  </p>
</div>

<div class="container text-center">
  <div class="langWrap">
    <a class="languageLink" lang="english" href="#">English</a>
    <a class="languageLink" href="#" lang="spanish">Spanish</a>
  </div>
</div>

</div>

<div class="footerDiv">
  <div class="container text-center">
    <p>This project is in memory of David Foster Wallace and all of those that have left us on the fight of their own demons.</p>
    <div class="row">
      <% if (!currentUser){ %>
        <div class="col"><a href="/login">Log In  </a>  /  <a href="/register">  Register</a></div>
        <div class="col"><a href="/recommendations/new">Add Recommendation</a></div>
        <div class="col"><a href="/about">About</a></div>
      <% } %>
      <% if (currentUser) { %>
        <div class="col"><p><a href="/users/<%=currentUser.username%>">@<%=currentUser.username%></a></p></div>
        <div class="col"><a href="/recommendations/new">Add Recommendation</a></div>
        <div class="col"><a href="/logout">Log Out</a></div>
        <div class="col"><a href="/about">About</a></div>
      <% } %>
    </div>
  </div>
</div>

<script src="/scripts/languages.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
    
</html>

