<%- include("./partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
        <div class="text-center">
          <p class="aboutTitle"><strong>Bienvenid@ a Human Music</strong></p>
        </div>
        <div class=" text-center aboutText">
          <p id="p1">Human Music es un proyecto que empieza con el sueño de un futuro mejor. Siento una profunda alegría al escuchar música que 
              nunca antes había escuchado, y siento un profundo goce al vivir experiencias que me recuerdan la naturaleza aleatoria de nuestra 
              existencia como humanos. Dado que internet es un entorno regido por algoritmos que buscan la maximización de beneficios de los propietarios 
              de las diferentes plataformas, decidí crear una plataforma que genere recomendaciones musicales y cuyo motor sea uno de los algoritmos
              más aleatorios que existen en el universo: La Naturaleza Humana.
          </p>
          <p id="p2">Este lugar es para compartir desde el corazón. Cada uno de nosotros tiene la oportunidad de compartir algo que crea que será 
              valioso para quien lo escuche. Algo que se convierta en un espacio de luz dentro de la oscuridad. Algo que pueda ayudar a cualquier 
              persona que escuche a superar la ira, la tristeza o el dolor. Algo que pueda ayudar a cualquiera que escuche a sentir felicidad, 
               gratitud o comodidad. Algo que pueda ayudar a cualquier persona que escuche a profundizar en su interior, y a través de ese proceso 
              luchar contra sus demonios y convertirse en un mejor actor para nuestra sociedad en esta loca experiencia que todos estamos compartiendo
               llamada vida. Algo que pueda ayudar a quien escuche a sentir que (él / ella) no está solo, porque todo lo que se necesita está contenido 
               en su interior.
          </p>
          <p id="p3">No hay limitaciones, no hay fronteras, no hay nada que sea bueno, no hay nada que sea malo. Lo que hará que este lugar sea 
              especial es que tu recomendación venga del corazón. Creo que la música es una cuerda que nos une a todos, y a través de la comprensión
               de este hecho podemos avanzar hacia una concepción de que en el fondo todos somos parte de la misma familia. Todos somos humanos. 
               Estamos todos juntos en esto, no importa de dónde vengamos, no importa nuestro color de piel, dinero en el banco, no importa si estás 
               triste, no importa si estás enojado. Todos estamos en el mismo camino, y si reconocemos este hecho podemos avanzar en la construcción 
               de un mundo mejor.
          </p> 
          <p id="p4">
              Gracias por leer. Gracias por compartir. Gracias por estar acá. Gracias por respirar.
          </p>
          <a href="/recommendations/nueva">Agregar Una Nueva Recomendación Al Futuro</a>
        </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("./partials/newFooter") %>