<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Human Music BETA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Share+Tech+Mono'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

  <nav class="navbar navbar-expand bg-light justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/past" role="button" aria-haspopup="true" aria-expanded="false">
            PAST
          </a>
        </li>
  
        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">
            PRESENT
          </a>
          <p class="text-center theClock"><%=today%> | <span id="presentTime">WELCOME BACK</span></p>
        </li>

        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/future" role="button" aria-haspopup="true" aria-expanded="false">
            FUTURE
          </a>
        </li>
      </ul> 
  </nav>

<div class="container">

  <div class="row">
    <div class="col-12 clock">
      <p class="text">Welcome to Human Music</p>
      <p class="text">A place for those who love music and all it means to our human experience</p>
      <p class="text">A place for those who embrace the unknown</p>
      <p class="text">A place to dis/<strong>connect with yourself</strong></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="text-center videoSquare">
        <img width="640" height="360" src="https://apod.nasa.gov/apod/image/2008/PerseidBridge_Zhang_1080_annotated.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-8 userinformation">
      <h3 class="countdownClock text-center">The day is over, the next day will start at 20:43 UTC </h3>
    </div>
    <div class="col"></div>
  </div>

</div>

  <div class="footerDiv">
    <div class="container text-center">
      <p>This project is in memory of David Foster Wallace and all of those that have left us on the fight of their own demons.</p>
      <div class="row">
        <% if (!currentUser){ %>
          <div class="col"><a href="/login">Log In  </a>  /  <a href="/register">  Register</a></div>
          <div class="col"><a href="/recommendations/new">Add Recommendation</a></div>
          <div class="col"><a href="/about">About</a></div>
        <% } %>
        <% if (currentUser) { %>
          <div class="col"><p><a href="/users/<%=currentUser.username%>">@<%=currentUser.username%></a></p></div>
          <div class="col"><a href="/recommendations/new">Add Recommendation</a></div>
          <div class="col"><a href="/logout">Log Out</a></div>
          <div class="col"><a href="/about">About</a></div>
        <% } %>
      </div>
    </div>
  </div>
  
  <script src='/scripts/endOfDayScript.js'></script>s
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
  </body>
      
  </html>