<%- include("./partials/header") %>
  
  <div class="container text-center title" style="margin-top: 8px">
      <p><strong>Feedback</strong></p>
  </div>
  <div class="container text-center content">
      <p>There is no way that I'm doing this perfectly because it's an expression of my mind. But I want it to evolve, and for that I need the 
          help of you, that care enough about what is happening here for coming in and spending time here. Feel free to contact me at: jp@human-music.com
          with your feedback, toughts and opinions so we can make this place cooler and better. Thank you!
      </p>
  </div>
  
  <% if(!currentUser){ %>
    <div class="container text-center">
        <a href="/login" class="btn btn-primary btn entranceButton" role="button">Login</a>
        <a href="/register" class="btn btn-primary btn entranceButton" role="button">Register</a>
      </div>
  <% } %>
  
  <%- include("./partials/footer") %>