<%- include("./partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="container text-center content">
            <p> This is the place where the future presents are being generated
            </p>
            <ul class="futureUL futureElements text-center" style="list-style: none;">
                <li><a href="/future/community">Community</a></li>
                <li><a href="/future/podcast">Podcast</a></li>
                <li><a href="/future/nextsteps">Next Steps</a></li>
                <li><a href="/future/feedback">Feedback / Advice</a></li>
                <% if(currentUser){ %>
                  <li><a href="/users/<%=currentUser.username%>">@<%=currentUser.username%></a></li>
                <% } %>
            </ul>
        </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("./partials/newFooter") %>