<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/newPresentStyle.css">
    <title>Human Music</title>
</head>
<body>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PAST</a></span><span id="presentSpan"><a href="/">PRESENT</a></span><span id="futureSpan" class="activeTense"><a href="/future">FUTURE</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="container text-center content">
            <p> This is the place where the future presents are being generated
            </p>
            <ul class="futureUL futureElements text-center" style="list-style: none;">
                <li><a href="/future/community">Community</a></li>
                <li><a href="/future/podcast">Podcast</a></li>
                <li><a href="/future/nextsteps">Next Steps / Contribute</a></li>
                <li><a href="/future/eclipse">Eclipse</a></li>
                <li><a href="/future/feedback">Feedback / Advice</a></li>
                <% if(currentUser){ %>
                  <li><a href="/users/<%=currentUser.username%>">@<%=currentUser.username%></a></li>
                <% } %>
            </ul>
        </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("./partials/newFooter") %>