<%- include("./partials/header") %>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 title text-center"><p><strong>Future</strong></p></div>
  <div class="col-1"></div>
</div>

<div class="container text-center content">
    <p> This is the place where the future presents are being generated
    </p>
    <ul class="futureUL futureElements" style="list-style: none;">
        <li><a href="/future/podcast">Podcast</a></li>
        <li><a href="/future/nextsteps">Next Steps</a></li>
        <li><a href="/future/feedback">Feedback / Advice</a></li>
        <% if(currentUser){ %>
          <li><a href="/users/<%=currentUser.username%>">@<%=currentUser.username%></a></li>
        <% } %>
    </ul>
</div>

<%- include("./partials/footer") %>