<%- include("./partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <p><strong>Goodbye</strong></p>
        <p> It was nice having you here. Hope to see you back soon </p>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("./partials/newFooter") %>