<%- include("./partials/header") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Log In</strong></p>
      <p>Welcome Back. You can log in here, or register <a href="/register">here</a></p>

      <form action="/login" method="POST">
        <div class="row align-items-center">
          <div class="col-12" style="margin-bottom: 16px;">
            <label for="loginUsername" class="clock">User</label>
            <input type="text" name="username" placeholder="Username" id="loginUsername" required>
            <label for="loginPassword" class="clock">Password</label>
            <input type="password" name="password" placeholder="*********" id="loginPassword" required>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-success" style="margin-top: 8px">Log In</button>
            <a href="/" class="btn btn-primary" style="margin-top: 8px">Back</a>
          </div>
        </div>
      </form>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("./partials/footer") %>
