<%- include("./partials/header") %>
  
  <div class="container text-center title" style="margin-top: 8px">
      <p><strong>Non Existing</strong></p>
  </div>
  <div class="container text-center content">
      <p>I'm sorry, but the page that you are looking for does not exist. Do you have an idea and want to share it? You can feel free to 
          write an email to jp@theinfinitejest.tv
      </p>
      <br>
      <a class="btn btn-success" role="button" href="/">Back to the Present</a>
  </div>

  <%- include("./partials/footer") %>