<%- include("./partials/header") %>

<div class="container">

  <div class="row">
    <div class="col-12 clock">
      <p class="text">Welcome to Human Music</p>
      <p class="text">A place for those who love music and all it means to our human experience</p>
      <p class="text">A place for those who embrace the unknown</p>
      <p class="text">A place to dis/<strong>connect with yourself</strong></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="text-center videoSquare">
        <img width="640" height="360" src="https://apod.nasa.gov/apod/image/2008/PerseidBridge_Zhang_1080_annotated.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 userinformation">
        <p>There are currently no recommendations in the present. Please wait X seconds for the next one to be brought.</p>
    </div>
    <div class="col-2"></div>
  </div>

</div>

<%- include("./partials/footer") %>