.box {
    display: flex;
    width: 100%;
    padding-bottom: 38px;
}

.column {
    position: relative;
    float:left;
    background-color: transparent;
}

.left {
    text-align: center;
    width:22%
}

.right {
    text-align: center;
    width:22%
}

.middle {
    width:56%
}

.navigationBar {
    width : 100%;
    margin: 0 auto;
}

.navigationBar a {
    font-size: 150%;
    margin: 0 auto;
    color: black;
}

.navigationBar a:hover {
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    color: black;
    text-decoration: none;
}

.navigationBar p {
    margin-bottom: 0;
}

.clock {
    width : 100%;
    margin: 0 auto;
    font-size: 100%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: black;
    height: 6%;
}

.footer a {
    margin: 1.618em;
    color: white;
    text-decoration: none;
    font-size: 100%;
}

.footer a:hover {
    color: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    text-shadow: 0 0 20px #0ae678
}

.futureUL {
    padding-left:0;
}

.aboutText {
    font-size: 0.85em;
}
