<%- include("../partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>New Feedback</strong></p>     

      <div class="container text-center content">
        <% if(foundUser){ %>
            <p>
                Hello @<%= foundUser.username %>
            </p>
            <br>
        <% } %>
        <p>
            With your help we can evolve this place so that it can be better and better over time
        </p>
    </div>
    
    <div class="container">
        <form action="/future/feedback" method="POST"> 
        <% if(!foundUser){ %>
            <div class="row">
                <div class="col"></div>
                <div class="col-3">
                    <label for="usernameInput" class="content">Name:</label>
                    <input class="form-control" id="usernameInput" type="text" name="usernameInput">
                </div>
                <div class="col-3">
                    <label for="userCountry" class="content">Country:</label>
                    <input class="form-control" id="userCountry" type="text" name="userCountry">
                </div>
                <div class="col"></div>
            </div>
        <% } %>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                    <div class="form-group content text-center">
                      <label for="feedbackMessage">How would you make this platform better?</label>
                      <textarea class="form-control" id="feedbackMessage" name="message" rows="6"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-success" role="button" href="/future/feedback">Go back</a>
                    </div>
            </div>
            <div class="col"></div>
        </div>
        </form>
    </div>

    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>
