<%- include("../partials/header") %>
<div class="container text-center title" style="margin-top: 8px">
    <p><strong>Add a new challenge to YOUR future</strong></p>
</div>
<div class="row content">
    <div class="col"></div>
    <div class="col-8">
        <p>
            The following is the letter that I wrote to myself when I started building this platform. I share it so it can be an example on how
            powerful the exercize of picturing your future can be for establishing a mindset that can help you travel through the resistance
            that your own mind creates around your objectives.
        </p>
        <br>
        <p>
            The next cycle will start the X [Insert date here when the current cycle will finish so the new one will start].
        </p>
    </div>
    <div class="col"></div>
</div>
<hr class="horizontalRule">

<div class="container text-center">
    <div class="row">
        <div class="col-6 commitmentLetter">
            <p>Dear JP,</p>
            <br>
            <p>
                If I look at the time that has passed behind this moment, it seems like a blink of an eye. It is just as if it was yesterday when 
                you set up your working environment 1 for developing the platform that you had in mind. What a great birthday it was, surrounded by
                 your family and in the most special place in the world for you. You did something that was a big dream of yours that day, do you
                 remember? Here goes a picture of it. Those chickpeas were the best that you have ever made, because you put all your love and caring 
                 inside that 80 year old pot that your grandmother gave you as a present. History being cooked. You always wanted to cook on a big 
                 old pot in the bonfire. You always wanted to share that with your close ones. And you didn’t have a recipe or a plan on how to cook 
                 it, you just did it. And it turned up great.
            </p>
            <br>
            <img src="/images/birthdayImage.jpeg" alt="" class="letterImage">
            <br>
            <br>
            <p>
                It’s interesting to talk to you from the future. I prefer not telling you what happened at the end, because it will break the magic. 
                What I can tell you is about the importance of perseverance and commitment. There were days that you were tired, that you didn’t 
                wanted to do the work, but you managed to do it. Your insecurities were in a high point those days, and you felt that what you were 
                doing was not valuable for anyone. Guess what: Everything turned out different from what you thought it would be. And it is perfect 
                as it is. What came up because of you trying your best for this brought you to doors that you didn’t even know existed, and the
                internet opened you the windows of the world. Helping other people in the creatives workshop with their own projects and commitment, 
                you realized that it’s never about what happens at the end, and it is always about what happens in the process. There is nothing 
                as the experience that you had the past 100 days as a reminder for this. You worked hard, you tried your best, and no one can take 
                this out from you. So many great lessons behind. I want to congratulate you. For staying true to what you believe is correct, and 
                for moving forward with that in mind every day.
            </p>
            <br>
            <p>
                I don’t know if you have done the math, but the past 100 days you spent 30 minutes daily writing your dailies. Only that adds 
                to 50 hours of dedication to this project, to learning a new skill that you didn’t even think about having before the pandemic. 
                Add to that the almost 2 hours of programming that you did every single day and you have around 250 hours of training. Can you 
                imagine where that brought you? You now have skills that open you the world. You now can speak a language that is helping people 
                come together, it’s helping elder people to enjoy their last years fully and lowering the inequalities in our societies by creating
                 more efficient systems for us all. A new society is being built in this moment, one that doesn’t care about the background of the 
                 individual but for his capacities and motivations.
            </p>
            <br>
            <p>
                A few months ago someone asked me what would I prefer: Travel to the future or to the past. I’m writing to you from the future, 
                so I’m kind of travelling to the past in this one, just to tell you: There is no sense on knowing about how the future will develop 
                itself, because all that matters is that you trust yourself in the present and through that try your best. Whatever happens after 
                that, you don’t control it, so just enjoy the ride.
            </p>
            <br>
            <p>
                I wish you the best in this journey, I’m you and you are me, and you are not alone. You will never be.
            </p>
            <br>
            <p>jp</p>
        </div>
        <div class="col-6">
            <form action="/challenges" method="POST">

                <div class="form-group">
                    <label for="challengeDescription" class="content">What do you want to say to your future self after this challenge is over?</label>
                    <textarea class="form-control" rows="5" cols="33" id="challengeDescription" name="challengeDescription"></textarea>
                </div>

                <label for="challengeDuration" class="content">How long do you want this challenge to last? [Days]</label>
                <input type="number" id="challengeDuration" name="challengeDuration" min="0" max="100">

                <label for="cycleName" class="content">What name do you propose for the next cycle?</label>
                <input type="text" id="cycleName" name="cycleName">

                <p class="content">
                    The duration of the next cycle will be the average of all the proposed durations of the users that commited to go through that 
                    challenge.
                </p>
                
                <div class="form-group">
                    <button class="btn btn-success">Submit!</button>
                    <a class="btn btn-primary" href="/recommendations"> Go Back</a>
                </div>  
            </form>   
        </div>
    </div>
</div>
<%- include("../partials/footer") %>