<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/eternity.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Human-Music</title>
</head>
<body>

<div class="headerBanner">
    <h1><a href="/">HUMAN-MUSIC</a></h1>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
            <h5 class="newMusicPresenter">Welcome @<%=currentUser.username%>, thank you for adding a new recommendation :)</h5>
                <form id="addRecommendationForm" action="/" method="POST">
                    <div class="form-group">
                        <label for="videoURL" class="content">Youtube URL of your recommendation:</label>
                        <input class="form-control" placeholder="https://www.youtube.com/watch?v=ZOu3aJ8RDqw" id="videoURL" type="text" name="url" required>
                    </div>
    
                    <div class="form-group">
                        <label for="descriptionTextArea" class="content">What does this piece mean to you?</label>
                        <textarea class="form-control" rows="10" cols="33" id="descriptionTextArea" name="description"></textarea>
                    </div>
    
                    <label for="userCheckbox" class="userInformation content">Was this created by you?</label>    
                    <input type="checkbox" id="userCheckbox" name="wasCreatedByUser" value="true">

                    <div class="form-group">
                        <input type="button" id="previewBtn" value="Preview">
                        <button type="submit">Submit!</button>
                    </div>  
                    <a href="/">Go Back</a>
                </form>   
        </div>
    </div>
    <div class="column right"></div>
</div>

<div id="recommendationModal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn" class="closeModal">&times;</span>
        <div id="modalPreview" style="display: none;">
            <div class="iFrameContainer" id="mediaContainer">
                <iframe id="recommendationIframeSpan" width="640" height="360" src="" style="border: solid 4px #37474F"></iframe>
            </div>
            <div class="recommendationInformation text-center" >
                <p><strong>User: </strong><span id="usernameSpan"></span></p>
                <p><strong>Country: </strong><span id="countrySpan"></span></p>
                <p><strong>Why did you recommend this?: </strong><span id="descriptionSpan"></span></p>
                <button id="editBtn">Edit</button>
                <button id="submitBtn">Send Recommendation To The Future!</button>
            </div>
        </div>
        <div id="modalResponse" style="display: none;">
            <p id="responseFromServer">The recommendation is being sent to the future...</p>
            <button id="closeButtonInResponseModal">Close</button>
        </div>
    </div>
</div>

<div class="footer">
    <% if (!currentUser){ %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
    <% if (currentUser) { %>
        <a href="/logout">Log Out</a>
        <a href="/users/<%=currentUser.username%>">@<span id="currentUserSpan"><%=currentUser.username%></span></a>
    <% } %>
    <a id="emailTag" href="mailto:hola@human-music.com">hola@human-music.com</a>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/scripts/newRecommendation.js"></script>
  </body>
  </html>
