<%- include ("../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>This is the introduction page of <%=username%></h1>
</div>

<a class="btn btn-success" role="button" href="/users/<%=username%>/office">Back to the office</a>

<%- include ("../../partials/users/userFooter") %>