<%- include("../partials/header") %>

<h1>I'm really sorry, but the user <%=username%> doesn't exist yet. Why don't you invite him/her to take part of this?</h1>

<a href="/recommendations" class="btn btn-primary">Go back</a>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

<%- include("../partials/footer") %>