<%- include("../partials/header") %>
  
<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="container text-center content">       
            <p>WOWOWOWOOOOOW. The user <%=username%> doesn't exist yet.</p>
        </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/footer") %>
