<%- include("../partials/header") %>
  
  <div class="container text-center title" style="margin-top: 8px">
      <p><strong>Challenge Yourself</strong></p>
  </div>
  <div class="container text-center content">
      <p>In my experience the biggest enhancer of my life has been discipline. Commiting to do something and then working hard every day towards 
        that goal. It is not easy, there are a lot of demons that will be around what we are trying to achieve, but if you are able to commit to 
        the discipline and work every day towards the goal that you set at the beginning, you will reach somewhere. Most probably it will be a place
        different from the one that you thought at the beginning you would reach, but it will be something. And it will be valuable. You will have
        learned a lot about yourself and about what you set up to do.
      </p>
      <br>
      <p>It's all about the process, it's all about showing up every day to do the work. It doesn't matter for how long, you will decide that 
        every day, but the important thing is to commit to the discipline and have in mind why you are doing what you are doing. What are you 
        willing to achieve. What are you willing to demostrate yourself. Not others. Yourself. When we act with the idea in mind that what we 
        are doing is for someone else, this generally bring up despair and feelings that are not conducent to a good state of mind. That is why
        what is encouraged here is to do the work having in mind what YOU want for yourself. Where you want to get to.
      </p>
      <br>
      <p>There will be an amazing community of people surrounding you and supporting each other in the journey. The idea is that people show
        themselves vulnerable. That they share their demons, and help each other to move forward. This is the only way that you are going to be 
        able to build things that will make your life better. Work on whatever you set up as important to work on, and support the community.
      </p>
      <br>
      <a class="btn btn-primary" role="button" href="/challenges/new">Challenge Yourself</a>
      <a class="btn btn-success" role="button" href="/future">Back to the Future</a>
  </div>


<%- include("../partials/footer") %>