<%- include("../partials/header") %>
    
<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PASADO</a></span><span id="presentSpan"><a href="/">PRESENTE</a></span><span id="futureSpan" class="activeTense"><a href="/future">FUTURO</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>
  
<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="container text-center content">
            <p><strong>Comunidad</strong></p>         
            <p>La comunidad es el centro de nuestra existencia como humanos, y el objetivo de este espacio es conectar con las personas que resuenan
                con lo que ha sido construido acá. La idea para este espacio es celebrar la conversación, la creación y el compartir de ideas, y
                aprovechar el hecho de que la plataforma va a tener personas de todo el mundo participando de ella. Creo que gracias a este espacio
                personas que no se sienten bien con su presente van a empezar a sentirse mejor. Personas que están tristes van a encontrar un espacio
                de felicidad.
            </p>
            <p>El espacio de comunidad será creado con una plataforma que se llama <a href="https://www.discourse.org/" target="_blank">discourse</a>,
            un proyecto de Open Source que está cambiando la forma en la que interactuamos en internet.</p>
            <a class="btn btn-success" role="button" href="/future">Volver al Futuro</a>
        </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>