<%- include("../partials/header") %>
  
  <div class="container text-center title" style="margin-top: 8px">
      <p><strong>Community</strong></p>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <div class="container text-center content">
            <p>Community is the center of our existence as humans, and in this place the aim is to connect with the people that resonate with what
                has been built here. The idea for this place of community is to embrace conversation, embrace the creation and sharing of ideas,
                and embrace the fact that this platform has people from all over the world participating on it. I believe that by creating this
                space, people that don't feel good with their present can start feeling good. People that are unhappy can start feeling happy.
            </p>
            <br>
            <p>
                This part of the platform will be hosted with a forum software called <a href="https://www.discourse.org/">discourse</a>, 
                an open source project which is changing the way that we relate to each other in the internet.
            </p>
            <br>
            <a class="btn btn-success" role="button" href="/future">Back to the Future</a>
        </div>
      </div>
      <div class="col"></div>
  </div>


  <%- include("../partials/footer") %>