<%- include("../partials/header") %>
  
  <div class="container text-center title" style="margin-top: 8px">
      <p><strong>Retreats</strong></p>
  </div>
  <div class="container text-center content">
      <p>Do you want to stay for some days in the house where it all started? It is located in South America, at the entrance of Patagonia, and it is a 
        place that has been built for making people that come feel as good as they can.
      </p>
      <p>If you want to participate on a staying of two weeks in the house where this project soul is, click the house picture</p>
      <br>
      <div class="container">
        <a href="/future/retreats/new"><img class="houseImage" src="/images/si_O7A4156.jpg" alt="The house of Human Music" ></a>
      </div>
      <br>
      <a class="btn btn-success" role="button" href="/future">Back to the Future</a>
  </div>

  <%- include("../partials/footer") %>