<%- include("../partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Next Steps</strong></p>   
      <div class="container text-center content">
        <p>
          The spirit of this project is that there is no owners of it. The content that will be shared here is for every of us to enjoy, and that 
          is why the code for this platform is available on <a href="https://github.com/jpfraneto/human-music" target="_blank">Github</a>, and any person can help to make it better. There have been several things that 
          are identified as features that can make the platform better, and if you want to contribute to it we will all benefit from that.
        </p>
        <p>
          The following is a list of those features, and if you think about further enhancements of the platform please share them in the
          <a href="/future/feedback">feedback</a> section.
        </p>
          <p><strong>Algorythm: </strong> The future is a huge ocean of pieces of music that people from all over the world have 
          recommended, and this algorythm what it does is to choose randomly some of those and bring them to the present. From there, they
          go to the past. One major enhancement of the algorythm would be that it chooses recommendations that people from countries that 
          have not gone through. Something like a rating system, on which recommendations from "rare" countries have a higher probability 
          of coming to the present. It would be cool if it ponders the population of the country also. This is for rising the 
          interconnectedness of the platform with the world.</p>
          <p><strong>Internationalization: </strong>One of the major features that the platform is missing is availability of languages.
          The best that could happen is that every recommendation description is written in the native language of the person that recommended 
          it, and on the side to have an option for translating it into whatever language you want. Also have the whole website's language 
          changed if the user wants to, so that every person in the world that cares enough for the project can have the opportunity of 
          being part of it.</p>
          <p><strong>Accesibility: </strong>A big aspect of how our society can evolve better is through the understanding that there are people
          that have different capabilities than the rest, embrace that, and have it on mind with what we do. That is why it is of key importance
          that the platform evolves into a state where every person can come in, no matter what disability is limiting her capacity of connecting.
          My grandmother spent the last 7 years of her life laying down in a bed not being able to communicate with the outside world, and it would
          have been amazing that she had the opportunity of having this platform turned on as long as she wanted so that she could enjoy that time.</p>
          <p><strong>Tradition: </strong>Add a banner on each side of the video that is showcased in the present that displays an image that our users
          have shared and that is related to the culture of the place from where that particular user is. For example, I come from Chile, and it would
          be great to share some Mapuche (one of our native ancestors) art so that people from all over the world can connect with it. It is just
          amazing to realize the resemblances that the native cultures have in their art, and through this understanding we can come closer and realize
          that we are all the same.</p>
        <a class="btn btn-success" role="button" href="/future">Back to the Future</a>
    </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>

