<%- include("../partials/header") %>
  
  <div class="container text-center title" style="margin-top: 8px">
      <p><strong>Podcast</strong></p>
  </div>
  <div class="container text-center content">
      <p>The human music podcast will feature a random user which's recommendation has gone through the present on that week. It will be chosen 
        every tuesday at 08:08:08, and the podcast will be recorded an released on the thurday that follows. 

        The idea is to share stories around the fact that that person recommended that piece of music because of a particular reason, and to have
        a coloquial conversation around how our experiences with music define the world view that we have. Hopefully there will be people from all
        over the world being interviewed, and this will give us a closeness to each other that will be really special.
      </p>
      <br>
      <a class="btn btn-success" role="button" href="/future">Back to the Future</a>
  </div>

  <%- include("../partials/footer") %>