<%- include("../partials/header") %>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PASADO</a></span><span id="presentSpan"><a href="/">PRESENTE</a></span><span id="futureSpan" class="activeTense"><a href="/future">FUTURO</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Podcast</strong></p>     
      <p>
        El podcast de Human Music tendrá de invitado a un usuario cuya recomendación haya estado en el presente esa semana.
      </p>
      <p>
          La idea es compartir historias alrededor del hecho de que esa persona recomendó esa pieza de arte por una razón particular, y tener una 
          conversación coloquial en torno a nuestra experience con música y la forma en la que esto determina nuestra visión del mundo.
          Algún día van a haber personas de todo el mundo siendo entrevistadas, y esto nos entregará una sensación de cercanía entre todos muy especial.
      </p>
      <a class="btn btn-success" role="button" href="/future">Volver al Futuro</a>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>