<%- include("../partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Podcast</strong></p>     
      <p>
        The infinite jest podcast will feature a random user which's recommendation has gone through the present on that week. It will be chosen 
        every tuesday, and the podcast will be recorded on the thursday that follows. 
      </p>
      <p>
        The idea is to share stories around the fact that that person recommended that piece of art because of a particular reason, and to have
        a coloquial conversation around how our experiences with music and films define the world view that we have. Hopefully there will be people from all
        over the world being interviewed, and this will give us a closeness to each other that will be special.
      </p>
      <a class="btn btn-success" role="button" href="/future">Back to the Future</a>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>