<%- include ("../../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>This is the page for adding a new idea</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/users/<%=foundUser.username%>/dojo/ideas" method="POST"> 
                <div class="form-group">
                  <label for="ideaName" class="clock">What is the name of this idea?</label>
                  <input class="form-control" id="ideaName" type="text" name="name">
                  <label for="ideaDescription">Which is the idea that came to your mind?</label>
                  <textarea class="form-control" id="ideaDescription" name="description" rows="6"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-success" role="button" href="/users/<%=foundUser.username%>/dojo/ideas">Go back</a>
                </div>
            </form>

        </div>
        <div class="col"></div>
    </div>
</div>

<%- include ("../../../partials/users/userFooter") %>